table {
    max-width: 100%;
}

table,th,td {
    padding: 10px;
    min-width: 60px;
    border: 2px solid #dddddd;
}

table,tbody,td {
    padding: 10px;
    min-width: 60px;
    border: 2px solid #dddddd;
}

pre {
    color: #ffffff;
    background-color: #000;
}

.tabcontent select {
    min-width: 40px;
}
